#%RAML 1.0
title: Customer info 
description: !include docs/apiDescription.md
version: v0.1.0
baseUri: https://www.bbvaapis.com/customers/v0

uses:
  annotations: ../glapi-global-apis-commons-commons/annotations/annotationsLibrary.raml
  customers: types/customers/customers.raml

annotationTypes:
  enumDescription: !include ../glapi-global-apis-commons-commons/annotations/enumDescription.raml

resourceTypes:
  collection: !include ../glapi-global-apis-commons-commons/resourceTypes/collection.raml
  collection-item: !include ../glapi-global-apis-commons-commons/resourceTypes/collection-item.raml
  subresource-collection: !include ../glapi-global-apis-commons-commons/resourceTypes/subresource-collection.raml

types:
  errors: !include ../glapi-global-apis-commons-commons/types/errors.raml

/customers:
    description: |
      Manage the customer's information.
    type: collection
    get:
      description: |
        Retrieves customer information, cards and account. 
      queryParameters:
        dni:
          description: | 
            "Unique identifier of a customer, the national document."
          type: string
          required: false
          example: "12345678"
      responses:
        200:
          description: Ok.
          body:
            application/json:
              example: !include examples/customers/dni/get_200.json
              type: object
              properties:
                data:
                  type: customers.customers
        400:
          description: Bad request.
          body:
            application/json:
              type: errors
              examples:
                 invalidParameters:
                   value: !include examples/customers/dni/get_400_invalidParameters.json
                   description: |
                      The request could not be completed due to invalid parameters.
                   displayName: Invalid parameters.
